# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
.nox/
.tox/

# MyPy
.mypy_cache/

# IDEs and editors
.idea/

# OS files
.DS_Store
